#main{
  background: rgb(33, 33, 33);
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}
h1{
  text-align: center;
  font-size: larger;
  color: azure;
}
p{
  text-align: center;
  font-size: larger;
  color: rgb(120, 212, 248);
  cursor: pointer;
}
p:hover{
  color: brown;
}